<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/school-953123_960_720.jpg" width="400" height="500" class="d-block w-100" alt="School">
      <div class="carousel-caption d-none d-md-block">
        <h5>Школа N1257</h5>
        <p>Добро пожаловать!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images/school-2051712_960_720.jpg"width="400" height="500" class="d-block w-100" alt="School1">
      <div class="carousel-caption d-none d-md-block">
        <h5>Качество подготовки школьников</h5>
        <p>Участие в международных школьных олимпиадах</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images/classroom-2093744_960_720.jpg" width="400" height="500"class="d-block w-100" alt="School2">
      <div class="carousel-caption d-none d-md-block">
        <h5>Современные кабинеты</h5>
        <p>Обучение в современных кабинетах</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container marketing">
<br></br>

<div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="images/man-1351317_960_720.png" alt="">
        
        <h2>Система дистанционного обучения</h2>
        <p>С 1 октября школа переходит в режим дистанционного обучения.</p>
        
      </div>
      <div class="col-lg-4">
         <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="images/check-list-36969_960_720.png" alt="">
        <h2>Подготовка к ЕГЭ</h2>
        <p>Дополнительные занятия для учеников 10-11 классов.</p>
      </div>
      <div class="col-lg-4">
         <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="images/owl-47526_960_720.png" alt="">
        <h2>Школьная олимпиада</h2>
        <p>С 1 октября для всех школьников проводится запись на школьную олимпиаду.</p>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">

    <main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h2>
        История школы</h2>
        <p class="lead">Школа N1257 основана в 1983 году. </p>
       <p class="lead"> С 2001 года открылись два новых корпуса.</p>
      </div>
      <div class="col-md-5">
         <img class="img-responsive"width="500" height="500" src="images/people-2243021_960_720.jpg" alt="">
      </div>
    </div>

  <br></br>
  <main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        Новый компьютерный класс!
      </h3>
      <div class="blog-post">
        <div class="col-auto d-none d-lg-block">
           <div class="member-img">
                            <img class="img-responsive" width="500" height="350" src="images/pc-1605658_960_720.jpg" alt="">
                        </div>
        </div>
        <p class="blog-post-meta">Кабинет N12(компьютерный класс)</p>
       
        <p>С 3 сентября в школе открылся новый компьютерный класс в кабинете N12.
        Для 8-11 классов в нём будут проводится уроки информатики.</p>
          </main>